/*reset styles*/

*{margin:0;padding:0;}

body {
    width: 100%;
    overflow-x: hidden;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #2d3436;
    line-height: 1.2;
}

h2 {
    font-family: Poppins;
    font-size: 36px;
    line-height: 95px;
    font-weight: 600;
    letter-spacing: 0.025em;
    color: #ffffff;
}

h3 {
    color: #2d3436;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.2;
}

/* general ------------------------------------------------------------------------------------------*/

.container {
    max-width: 1145px;
    padding: 0px 15px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

 img {
    max-width: 100%;
    height: auto;
} 

.title {
    padding-left: 4px;
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
    color: #a3a3a3;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    padding-top: 8px;
    position: relative;
}

.subtitle::after {
    content: '';
    width: 61px;
    height: 1px;
    background-color: #a3a3a3;
    display: block;
    position: absolute;
    top: 55px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

/* rating-block -------------------------------------------------------------------------------------*/

.rating-block {
    position: relative;
    font-size: 21px;
    display: inline-block;
}

.rating-block::before {
    content: '★★★★★';
    display: block;
}

.rating-block__items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.rating-block__item {
    position: absolute;
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.rating-block__item:checked,
.rating-block__item:checked~.rating-block__label {
    color: #ffd300;
}

.rating-block__label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #efefef;
}

.rating-block__label::before {
    content: '★';
    display: block;
    transition: color 0.3s ease 0;
}

.rating-block__label:hover,
.rating-block__label:hover~.rating-block__label .rating-block__label:checked~.rating-block__label:hover {
    color: #ffef9f;
}

/* header -----------------------------------------------------------------------------------------*/

.header {
    height: 79px;
    width: 100%;
}

.header__flex {
    display: flex;
    height: 79px;
}

.header__category-btn {
    display: flex;
    flex: 1;
    max-width: 274px;
    min-width: 215px;
    height: 79px;
    background-color: #ef8b59;
    cursor: pointer;
    justify-content: space-evenly;
    align-items: center;
}

.category-btn__block {
    padding-bottom: 6px;
    padding-left: 2px;
}

.category-btn__text {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: white;
    line-height: 1.2;
    padding-bottom: 5px;
    padding-right: 16px;
}

.category-btn__iconarrow {
    padding-bottom: 6px;
    padding-right: 6px;
}

.header__menu_first-line {
    display: block;
    width: 15px;
    height: 2px;
    background-color: #ffffff;
}

.header__menu_line {
    display: block;
    width: 15px;
    height: 2px;
    background-color: #ffffff;
    margin: 2px 0px 0px 0px;
}

.header__menu {
    height: 79px;
    max-width: 790px;
    width: 100%;
    flex: 2.6;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

.menu__link {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    color: #2d3436;
}

.header__menu_items {
    display: flex;
    justify-content: space-evenly;
    height: 74px;
    align-items: center;
    padding-left: 44px;
}

.header__menu_pics {
    flex: 0.4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 74px;
}

.menu__item {
}

.menu__img {
    padding-left: 10px;
}



.menu__user {
    padding-right: 39px;
}

.menu__basket {
    padding-right: 1px;
}

.about {

}

.contact {

}
   

/* title -------------------------------------------------------------------------------------------*/

.title-page {
    min-height: 725px;
    background-color: #f9f3eb;
}

.title-page__wrap {
    display: flex;
    flex-wrap: wrap;
}

.title-page__wrap-left {
    max-width: 615px;
    height: 725px;
    margin: 0 auto;
}

.title-page__title {
    padding-top: 211px;
}

.title-page__subtitle {
    font-family: Poppins;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #2d3436;
    padding-top: 47px;
}

.title-page__shop-btn {
    appearance: none;
    border: 0;
    border-radius: 10px;
    background: #ef8b59;
    color: #fff;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 66px;
    width: 211px;
    height: 46px;
}

.title-page__wrap-right {
    height: 725px;
    max-width: 520px;
    margin: 0 auto;
}

.title-page__circle-wrap {
    width: 750px;
    height: 725px;
    overflow: hidden;
    position: relative;
}

.circle-wrap__circle {
 
    width: 761px;
    height: 761px;
    background: #ef8b59;
    border-radius: 50% 50% 0% 50%;
    position: absolute;
    top: 57px;
    left: 41px;
}
/*
.title-page_circle2::before {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 300px solid #ef8b59;
    border-left: 300px solid transparent;
    position: absolute;
    margin-top: 368px;
    margin-left: 414px;
}
*/

.circle-wrap__img {
    position: absolute;
    top: 208px;
    left: 120px;
}

/* top new products ----------------------------------------------------------------------------*/

.top-new-products {
    min-height: 737px;
    width: 100%;
    height: auto;
    background-color: #fafafa;
}

.top-new-products__wrapper {
    width: 100%;
    padding-top: 114px;
    text-align: center;
}

.top-new-products__goods {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 100%;
}

.top-new-products__item {
    max-width: 265px;
    height: 361px;
    margin: 0 auto;
    position: relative;
}

.item__sale-button {
    appearance: none;
    border: 0;
    background: #ef8b59;
    color: #fff;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 12px;
    text-transform: uppercase;
    cursor: pointer;
    width: 65px;
    height: 25px;
    text-transform: uppercase;
    position: absolute;
    margin: 8px 0px 0px -73px;
}

.item__form {
    margin: 14px 0 0 20px;
}

.reviews {
    display: inline-block;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    color: #a3a3a3;
}

.item__title {
    font-family: 'poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.2;
    color: #2d3436;
    margin: 11px 0px 0px 20px;
}

.item__price {
    display: block;
    margin: 14px 0px 0px 18px;
}

.item__price_main {
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    color: #a3a3a3;
    display: inline-block;
}

.item__price_main::after {
    content: '';
    width: 61px;
    height: 1px;
    background-color: #a3a3a3;
    display: block;
}

.item__price_discount {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    line-height: 1.2;
    font-weight: 600;
    color: #ef8b59;
    display: inline-block;
    padding-left: 5px;
}

/* category -----------------------------------------------------------------------------------------*/

.category {
    width: 100%;
    min-width: min-content;
    margin: 0 auto;
    min-height: 822px;
    background-color: #f9f3eb;
}

.category__wrapper {
    display: flex;
    min-height: 581px;
    width: 100%;
    padding-top: 118px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category__collection_left-block {
    display: flex;
    max-width: 559px;
    margin: 0 auto;
    height: 584px;
    flex-direction: column;
    justify-content: space-between;
}

.left-block__down {
    display: flex;
    justify-content: space-between;
}

.category__collection_right-block {
    display: flex;
    margin: 0 auto;
    max-width: 559px;
    height: 584px;
    flex-direction: column;
    justify-content: space-between;
}

.right-block__up {
    display: flex;
    justify-content: space-between;
}

.right-block__down {
  position: relative;
}

.right-block__down-button {
    appearance: none;
    border: 0;
    background: #fafafa;
    color: #22262a;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 9.5px;
    letter-spacing: 0.025em;
    cursor: pointer;
    width: 197px;
    height: 44px;
    position: absolute;
    display: block;
    margin: -70px 0px 0px 29px;
    padding-bottom: 6px;
}

/* quarters ----------------------------------*/

.quarters {
    max-width: max-content;
    min-height: 420px;
    width: 100%;
    min-width: min-content;
    padding-top: 4px;
    margin: 0 auto;
}

.quarters__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quarters__img {
    width: 796px;
    height: 420px;
}

.quarters__description {
    background-color: #ef8b59;
    width: 796px;
    height: 420px;
}

.quarters__description_title {
    max-width: 640px;
    font-family: Poppins;
    padding-top: 64px;
    padding-left: 52px;
    line-height: 95px;
    font-weight: 600;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.text {
    padding-top: 15px;
    font-family: Poppins;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
}

/* latest-news ---------------------------*/

.latest-news {
    background-color: #fafafa;
    min-height: 883px;
    height: auto;
    width: 100%;
    text-align: center;
}

.latest-news__wrapper {
    padding-top: 118px;
}

.latest-news_cards {
    display: flex;
    justify-content: space-between;
    padding-top: 61px;
    width: 100%;
    flex-wrap: wrap;
}

.cards__card {
   width: 364px;
    height: 492px;
    margin: 0 auto;
    background-color: #ffffff;
}

.cards__img {
    width: 364px;
    height: 236px;
    margin: 0 auto;
    position: relative;
}

.cards__img::after {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 25px;
    top: 208px;
    left: 33px;
    display: block;
    position: absolute;
    background-image: url('../img/latest news/cat50x50.png');
}

.cards__postdate {
    font-family: 'Nunito Sans';
    font-size: 14px;
    line-height: 6.6px;
    font-weight: 700;
    color: #5b5b5b;
    padding: 50px 0px 0px 30px;
}

.cards__title {
    font-family: 'Nunito Sans';
    font-size: 21px;
    line-height: 6.6px;
    font-weight: 700;
    color: #151515;
    text-transform: uppercase;
    padding: 48px 0px 0px 28px;
}

.cards__discription {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #5b5b5b;
    padding: 24px 0px 0px 28px;
    position: relative;
}

.cards__discription::after {
    content: '';
    position: absolute;
    display: block;
    width: 364px;
    height: 1px;
    background-color: #d8d8d8;
    left: 0px;
    top: 93px;
}

.cards__more {
    border: none;
    font-family: 'Nunito Sans';
    font-size: 15px;
    line-height: 6.6px;
    font-weight: 700;
    color: #e73100;
    text-transform: uppercase;
    background-color: transparent;
    margin: 43px 0px 0px 23px;
}

/* slider ---------------------------------------*/

.our-reviews {
    background-color: #fafafa;
    min-height: 900px;
    height: auto;
    width: 100%;
    text-align: center;
}

.slider__item {
    width: 494px;
    height: 285px;
    background-color: #ffffff;
    box-shadow: 0px 5px 20px 0px rgba(48,48,48,0.09);
    border-radius: 10px;
    margin-top: 180px;
    display: inline-block;
    position: relative;
}

.slider__wrapper {
    margin-top: 70px;
    position: relative;
    margin-bottom: 110px;
}

.item-absolute {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

.active {
    background-color: #ef8b59;
    z-index: 10;
}

.dots__wrapper {
    display: flex;
    max-width: 177px;
    justify-content: space-between;
    margin: 0 auto;
}

.dot {
    width: 43px;
    height: 13px;
    opacity: 0.63;
    background-color: #ef8b59;
    display: inline-block;
}

.dot-active {
    background-color: #ef8b59;
    opacity: 1;
}